<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzlzd.android.educloud"
    android:versionCode="2"
    android:versionName="V1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.zzlzd.android.educloud.PayDemoActivity"
            android:icon="@drawable/logo"
            android:roundIcon="@drawable/logo"
            android:logo="@drawable/logo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zzlzd.android.educloud.H5PayDemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="behind"
            android:launchMode="singleInstance"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.zzlzd.android.educloud.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.zzlzd.android.educloud.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!--<activity
            android:name=".GuideWrapper"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity android:name="com.zzlzd.android.educloud.wxshare.WeiXinActivity" />
    </application>

</manifest>